<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="column" align="middle">
            <p align="left">Input</p>
            <img src="{{url_for('static', filename='input.jpeg')}}" align="left" width="400" height="400" />
        </div>
        <div class="column" align="middle">
            <p align="middle">Mask</p>
            <img src="{{url_for('static', filename='mask.jpeg')}}" align="middle" width="400" height="400" />
        </div>
        <div class="column" align="middle">
            <p align="right">output</p>
            <img src="{{url_for('static', filename='output.png')}}" align="right" width="400" height="400" />
        </div>
    </div>
</body>

</html>